.accounts {
    list-style: none;
    margin: 0;
    .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        .account-link {
            min-width: 44px;
            text-align: center;
        }
        .account-name {
            margin-left: 0.5rem;
        }
    }
}