:root {
    --primary-color: #078072;
    --secondary-color: #d0fdeb;
}
a {
    color: var(--primary-color);
}
html {
    min-width: 320px;
}
p, li, div {
    font-family: Verdana, sans-serif;
}
.index-page {
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &-header {
            color: var(--primary-color);
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: bold;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
        &-tagline {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}
